{
    "root": true,
    "extends": [
        "@antfu"
    ],

    "rules": {
        "curly": "off",
        "no-tabs": [
            "error"
        ],
        "vue/custom-event-name-casing": ["error", "kebab-case", {
            "ignores": []
        }],
        "vue/max-attributes-per-line": ["error", {
            "singleline": {
                "max": 3
            },
            "multiline": {
                "max": 1
            }
        }],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "eol-last": [
            "warn",
            "always"
        ],
        "@typescript-eslint/brace-style": [
            "error",
            "1tbs",
            { "allowSingleLine": true }
        ],
        "@typescript-eslint/semi": [
            "error",
            "always"
        ],
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "@typescript-eslint/quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "jsonc/indent": [
            "error",
            4
        ],
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/script-indent": [
            "error",
            4,
            {
                "baseIndent": 1
            }
        ]
    },
    "overrides": [
        {
            "files": ["*.vue"],
            "rules": {
                "@typescript-eslint/indent": "off"
            }
        }
    ]
}